/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* LAYOUT STYLES */
/*
  This style is loosely based on the Tactile theme for GitHub pages by Jason Long. 
*/

body {
  font-size: 1em;
  line-height: 1.5; 
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #777;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
}

h1 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; font-weight: 900;
  letter-spacing: -1px;
  font-size: 48px;
  color: #444;
  line-height: 1.2;
}

h2, h3 {
  letter-spacing: -1px;
  font-size: 24px;
  color: #00A3BA;
  font-weight: normal;
  line-height: 1.3;
}

h2 {
  margin-top: 2em;
  color: #444;
  font-weight: bold;
}

#container {
  background-color: #ddd;
  background-image: url('../images/noise.png');
  min-height: 595px;
}

.inner {
   width: 620px;
   margin: 0 auto;
  padding: 30px;
  position: relative;
  z-index: 10;
  background-color: rgba(255,255,255,0.87);
}

a {
  color: #FF9500;
  font-weight: bold;
}
a:hover {
  color: #FF0000;
  transition-property: color;
  transition-duration: 0.5s;
   -moz-transition-property: color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: color;
  -o-transition-duration: 0.5s;
}

pre {
  font-family: Inconsolata, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  background-image: url('../images/pre-noise.png');
  color: #222;
  margin-bottom: 30px;
  font-size: 15px;
  text-shadow: none;
  background-color: #111;
  border-radius: 20px;
  border-width: 4px;
  border-style:solid;
  border-color:white;
  padding: 20px 10px;
  margin: 0 20px;
}

div#logo {
  position: fixed;
  right: 10px;
  top: 45%;
  margin-top: -270px;
  background-image: url(../images/sojolicious.svg);
  width: 520px;
  height: 540px;
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  z-index: 2;
}

#github-ribbon img {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 15;
}

footer {
  display: block;
  font-size: 9pt;
  border-top: 10px solid #e7e7e7;
  margin: 20px auto;
 padding-top: 20px;
}

ul {
  margin: 30px;
}

/* COMMON STYLES */
b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center; 
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;
  
}


/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

